<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="css/home.css" />

<body>
  <div class="group_name">
    <ul class="nav justify-content-center">
      <li class="nav-item" style="cursor: pointer">
        <a class="nav-link active" href="/brand">Home</a>
      </li>

      <% if(!member) { %>
      <li class="nav-item" style="cursor: pointer">
        <a class="nav-link" href="/brand/sign-up">Signup</a>
      </li>
      <li class="nav-item" style="cursor: pointer">
        <a class="nav-link" href="/brand/login">Login</a>
      </li>
      <% } else if(member.mb_type === 'ADMIN') { %>
      <li class="nav-item" style="cursor: pointer">
        <a class="nav-link" href="/brand/all-brand">AllResto</a>
      </li>
      <li
        class="nav-item"
        style="cursor: pointer"
        onclick="return confirm('Do you want to log out?')"
      >
        <a class="nav-link" href="/brand/logout">Logout</a>
      </li>
      <% } else { %>
      <li class="nav-item" style="cursor: pointer">
        <a class="nav-link" href="/brand/products/menu">MyBrand</a>
      </li>
      <li
        class="nav-item"
        style="cursor: pointer"
        onclick="return confirm('Do you want to log out?')"
      >
        <a class="nav-link" href="/brand/logout">Logout</a>
      </li>
      <% } %>
    </ul>
  </div>
</body>

<%- include('includes/footer') %>
