<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/login.css" />

<body>
  <form class="login_container" action="/brand/login" method="POST">
    <div class="login_frame" style="height: 460px">
      <div class="login_top">
        <span>Enter</span>
        <div>
          Return to Homepage <a href="/brand" style="color: #6440fb">Home</a>
        </div>
        <p>
          Already registered?
          <a href="/brand/sign-up" style="color: #6440fb">Signup</a>
        </p>
      </div>

      <div class="login_input_frame">
        <div class="login_input_container">
          <label>User Name: </label>
          <input
            type="text"
            name="mb_nick"
            placeholder="username"
            value=""
            required
          />
        </div>
        <div class="login_input_container">
          <label>Insert password: </label>
          <input
            type="password"
            name="mb_password"
            placeholder="Password"
            value=""
            required
          />
        </div>
      </div>

      <button class="login_btn btn" name="login" type="submit">Enter</button>
    </div>
  </form>
</body>

<%- include('includes/footer') %>
