body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url("https://user-images.githubusercontent.com/26748614/96337246-f14d4580-1085-11eb-8793-a86d929e034d.jpg");
  background-size: cover;
  backdrop-filter:  brightness(50%);
}

.group_name {
  position: absolute;
  z-index: 10000;
  top: 1%;
  color: #efefee;
  font-size: xxx-large;
  font-family: monospace;
}

.animation-wrapper {
  width: 50%;
  padding-bottom: 50%;
}

.sphere-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 580px;
  height: 580px;
  margin: -290px 0 0 -290px;
}

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 1px;
  stroke: rgba(80, 80, 80, 0.35);
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: 0.4px;
  }
}

canvas {
  display: block;
}

#canvas_container {
  width: 100%;
  height: 100vh;
}

button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid white;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 0.5rem 0.9em;
  background: #000000;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s;
}

button:hover {
  background: #ffffff;
  color: #000000;
}
